.cart-widget {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
    border: 2px solid blue;
    border-radius: 10px;
    padding: 10px;
    position: relative;
  }
  
  .cart-widget img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  