.Counter {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .Controls {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .Button {
    background-color: rgb(128, 24, 97);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px;
  }
  
  .Number {
    font-size: 1.2rem;
    margin: 0 10px;
  }
  
  .Button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  